# Entrada / salida básica con Python

<img src="https://www.python.org/static/img/python-logo.png" alt="yogen" style="width: 200px; float: right;"/>
<br>
<br>
<br>
<a href = "http://yogen.io"><img src="http://yogen.io/assets/logo.svg" alt="yogen" style="width: 200px; float: right;"/></a>

# Objetivos

-   Aprender a mostrar mensajes al usuario

-   Aprender a pedir información al usuario

-   Leer y escribir ficheros de datos

-   Una mini-intro a ficheros de datos y *data science*

-   Repaso de estrategias para escribir programas

# Mostrar mensajes en la pantalla

## Comunicación con el usuario

-   Mostrar mensajes de texto al usuario

-   Pedir números y texto al usuario

## Mostrar mensajes al usuario

-   `print`

El comando print permite mostrar mensajes de texto, con valores de variables, y aplicando un formato a la salida

-   Por ejemplo, número de decimales a mostrar

## Ejemplos

In [7]:
print('Hola mundo')
print(42)
print(42.123872)

Hola mundo
42
42.123872

In [8]:
a = 12
a

12

¿Por qué usar el comando print para mostrar el contenido de variables, si ya se muestran en el *notebook*?

Porque el que se muestren en el *notebook* es específico de IPython. Si queremos que se muestren corra donde corra nuestro programa deberemos usar `print`

## Mostrar mensajes con formato

Construir cadenas un poco complejas a base de concatenación se vuelve fatigoso muy rápido. Para esto está el formateo de strings.

Podemos insertar múltiples valores desde variables o desde literales.

Con print podemos combinar números y texto en el mismo mensaje, pero requiere *indicadores de formato*.

Este [minilenguaje de formateo](http://www.cprogramming.com/tutorial/printf-format-strings.html) es común a muchos lenguajes de programación.

In [12]:
number_to_show = .1 + .2
number_to_show

0.30000000000000004

In [13]:
str(number_to_show)

'0.30000000000000004'

In [16]:
result = 'The number to show is ' + str(number_to_show)[:4]
result

'The number to show is 0.30'

In [18]:
'The number to show is %.2f' % number_to_show

'The number to show is 0.30'

## Indicadores de formato

| Formato |      Descripción       |
| --------|------------------------|
| %d      | Números sin decimales  |
| %f      | Números con decimales  |
| %s      | Texto                  |

## Ejemplos

Diferencias entre %d y %f

In [47]:
integer = 42
floating_point = 5.9

print('An int as int: %d' % integer)
print('An int as float: %f' % integer)
print('A float as float: %f' % floating_point)
print('A float as int: %d' % floating_point)

An int as int: 42
An int as float: 42.000000
A float as float: 5.900000
A float as int: 5

In [26]:
int(5.9)

5

## Uso con texto

Podemos introducir varias variables en la string, dándolas como una tupla.

In [35]:
name = 'Daniel'
surname = 'Mateos'

greeting = 'Me llamo %s, de la familia %s de toda la vida' % (name, surname)
print(greeting)

Me llamo Daniel, de la familia Mateos de toda la vida

In [37]:
name = 'Daniel'
surname = 'Mateos'
surname2 = 'San Martin'
greeting = 'Me llamo %s, de la familia %s %s de toda la vida' % (name, surname, surname2)
print(greeting)

Me llamo Daniel, de la familia Mateos San Martin de toda la vida

Si intento meter una string en un %d, me da error:

In [38]:
greeting = 'Me llamo %d, de la familia %s de toda la vida' % (name, surname)

TypeError: %d format: a number is required, not str

#### Ejercicio

Dada unas variables
```python
name = "Daniel"
students = 7
```
Saca por pantalla un saludo al estimado profesor de parte de sus 14 estudiantes, usando formateo de strings.

In [43]:
name = "Daniel"
students = 7

greeting = 'Buenas tardes ínclito %s, de parte de tus %d estudiantes' % (name, students)
print(greeting)

Buenas tardes ínclito Daniel, de parte de tus 7 estudiantes

## Números decimales

### Decimales en cadenas de texto 

`%n.m f`

-   n es el número mínimo de columnas utilizadas en la
    escritura

-   m es el número de decimales

### Ejemplos

In [44]:
import math

math.pi

3.141592653589793

In [49]:
print('El numero pi es %f' % math.pi)
print('El numero pi es %.4f' % math.pi)
print('El numero pi es %.2f' % math.pi)

El numero pi es 3.141593
El numero pi es 3.1416
El numero pi es 3.14

In [53]:
print('El numero pi es %10.2f, seguro seguro' % math.pi)
print('El numero pi es %8.2f, seguro seguro' % math.pi)
print('El numero pi es %8.4f, seguro seguro' % math.pi)
print('El numero pi es %4.4f, seguro seguro' % math.pi)

El numero pi es       3.14, seguro seguro
El numero pi es     3.14, seguro seguro
El numero pi es   3.1416, seguro seguro
El numero pi es 3.1416, seguro seguro

#### Ejercicio

Construye una expresión print que, dadas las variables

```python
progress = 45.3
total = 120
```

, interpretadas como el total de megabytes de una descarga y el tamaño total del archivo, exprese su progreso de por pantalla de la forma:

```python
Descargados 115.6 de 120.0 mb
```

Queremos que, si mostramos el mensaje múltiples veces, los números queden alineados aunque tengan un número distinto de cifras.

In [60]:
progress_1 = 4.3
progress_2 = 45.3
progress_3 = 89.2131132
progress_4 = 112
total = 120

print('Descargados %6.2f de un total de %6.2f mb bytes de tu video porno ' % (progress_1, total))
print('Descargados %6.2f de un total de %6.2f mb bytes de tu video porno ' % (progress_2, total))
print('Descargados %6.2f de un total de %6.2f mb bytes de tu video porno ' % (progress_3, total))
print('Descargados %6.2f de un total de %6.2f mb bytes de tu video porno ' % (progress_4, total))

Descargados   4.30 de un total de 120.00 mb bytes de tu video porno
Descargados  45.30 de un total de 120.00 mb bytes de tu video porno
Descargados  89.21 de un total de 120.00 mb bytes de tu video porno
Descargados 112.00 de un total de 120.00 mb bytes de tu video porno

Nos estamos repitiendo mucho. Mucho mejor abstraer los componentes comunes a variables para reutilizarlos

In [1]:
progress_1 = 4.3
progress_2 = 45.3
progress_3 = 89.2131132
progress_4 = 112
total = 120
template = 'Descargados %8.2f de un total de %8.2f mbs'

print(template % (progress_1, total))
print(template % (progress_2, total))
print(template % (progress_3, total))
print(template % (progress_4, total))

Descargados     4.30 de un total de   120.00 mbs
Descargados    45.30 de un total de   120.00 mbs
Descargados    89.21 de un total de   120.00 mbs
Descargados   112.00 de un total de   120.00 mbs

## Números enteros

Enteros en cadaneas de texto %n.m d

-   n es el número mínimo de columnas utilizadas en la
    escritura

-   m es el número de dígitos

#### Ejemplos

In [71]:
print('Tengo %3.d anios' % 34)

print('bautizo_trini_%.4d.jpg' % 34)
print('bautizo_trini_%6.4d.jpg' % 34)
print('bautizo_trini_%2.4d.jpg' % 34)

Tengo  34 anios
bautizo_trini_0034.jpg
bautizo_trini_  0034.jpg
bautizo_trini_0034.jpg

# Pedir datos al usuario

Muchos programas pueden necesitar preguntar datos al usuario. Para ello usamos el comando:

-   `input`

#### Ejemplo: Pedir un número

In [2]:
input('Please input your username ')

Please input your username Dani

'Dani'

In [74]:
username = input('Please input your username ')

Please input your username dani

## `input` siempre devuelve una string

Si necesitamos otro tipo de dato, tendremos que modificarlo nosotros. 

La interacción con el usuario es un punto en el que típicamente se producen errores.

In [77]:
user_age = input('Whats your age, precious?')
user_age_in_2050 = user_age + 32

Whats your age, precious?34

TypeError: must be str, not int

In [79]:
user_age = int(input('Whats your age, precious?'))
user_age_in_2050 = user_age + 32
print('Your gorgeous flesh will be %d in 2050, so get cracking' % user_age_in_2050)

Whats your age, precious?34
Your gorgeous flesh will be 66 in 2050, so get cracking

No podemos dar por sentado que el usuario hará lo que le pedimos:

In [89]:
user_age = int(input('Whats your age, precious?'))
user_age_in_2050 = user_age + 32
print('Your gorgeous flesh will be %d in 2050, so get cracking' % user_age_in_2050)

Whats your age, precious?vete a peinar

ValueError: invalid literal for int() with base 10: 'vete a peinar'

# Ficheros de datos

## Leer datos de un fichero

Normalmente, en *data science* leeremos los datos desde ficheros, no se los pediremos al usuario.

-   En realidad, usaremos bibliotecas específicas para leer y escribir
    datos, como por ejemplo **`pandas`**

## Abrir y cerrar ficheros
Es necesario abrir un fichero usando un **modo de apertura** para poder trabajar con un fichero.

Necesitamos tener el archivo `fichero.csv` en el directorio donde estamos: el _current working directory_. 

Para saber cuál es podemos usar la función `os.getcwd()`

In [90]:
import os 

os.getcwd()

'/home/dani/repos/intro-programming/edition_10'

In [94]:
file = open('tocoto.csv')
file

FileNotFoundError: [Errno 2] No such file or directory: 'tocoto.csv'

In [98]:
file = open('fichero.csv')
file

## Leer ficheros

Tenemos varias instrucciones que podemos usar para leer ficheros:

-   `read` para leer el contenido entero del fichero

-   `readline` para leer el fichero línea a línea

-   `readlines` para leer todas las líneas en una lista

    -   Esta función es iterable, es decir, no necesitamos cargar el
        fichero en memoria entero si usamos readlines

-   Veamos un ejemplo con un fichero de datos

In [99]:
content = file.read()
content

'id,type,article,price\n001,garden,SawMaster,200.0\n002,kitchen,CutPlus,99.95\n003,personal_hygiene,IntiMus,19.99\n'

`readline()` nos devuelve una única línea, con su salto de línea al final.

In [100]:
file = open('fichero.csv')
file.readline()

'id,type,article,price\n'

Si lo volvemos a llamar, nos devuelve la siguiente línea.

In [101]:
file.readline()

'001,garden,SawMaster,200.0\n'

Y así sucesivamente hasta que...

In [111]:
file.readline()

''

In [112]:
file = open('fichero.csv')
file.read()
file.read()

''

Con `seek()` podemos recolocar el "cursor", la posición actual, dentro del archivo.

In [125]:
file = open('fichero.csv')
file.read()
file.seek(0)
file.read()

'id,type,article,price\n001,garden,SawMaster,200.0\n002,kitchen,CutPlus,99.95\n003,personal_hygiene,IntiMus,19.99\n'

`readlines` nos devuelve todas las líneas en forma de listas. 

Si el archivo es lo suficientemente grande, podemos llenar la memoria.

In [126]:
file = open('fichero.csv')
file.readlines()

['id,type,article,price\n',
 '001,garden,SawMaster,200.0\n',
 '002,kitchen,CutPlus,99.95\n',
 '003,personal_hygiene,IntiMus,19.99\n']

In [133]:
file = open('fichero.csv')
lines = file.readlines()

In [134]:
lines[1]

'001,garden,SawMaster,200.0\n'

Por defecto, los archivos se abren en modo de lectura, 'r'

In [135]:
file

Siempre hay que cerrar los archivos cuando hemos terminado de usarlos.

In [136]:
file.closed

False

In [137]:
file.close()

In [138]:
file.closed

True

## Escribir ficheros

Usaremos la instrucción *write*

-   Acepta solo cadenas de texto

-   No escribe saltos de línea por defecto, por lo que tenemos que
    añadir saltos de línea al final de cada línea de texto
    
-   Tenemos que abrir el archivo en modo 'w', de escritura

In [139]:
new_file = open('newfile.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'newfile.txt'

In [143]:
new_file = open('newfile.txt', 'w')
new_file.write('holi guapi')

10

In [144]:
new_file.close()

## Cerrar ficheros

Corrupción de datos

-   Siempre que escribamos en un fichero, no podemos estar 
    seguros de que los datos se han guardado en el
    disco hasta que no hemos cerrado el fichero.

-   Cuando leemos, esto no es imprescindible, pero sí  **altamente
    recomendable**
    
-   Podemos forzar al sistema operativo a guardarlos con `flush()`, 
    pero aún así deberemos cerrar el archivo al terminar con él.

In [146]:
new_file = open('newfile.txt', 'w')
new_file.write('holi guapi como te va la vida')

29

In [147]:
new_file.flush()
new_file.closed

False

In [148]:
new_file.close()

## Cláusula with

Se asegura de que el fichero quede cerrado cuando se sale del contexto de `with`

In [150]:
with open('newfile.txt') as f:
    print('uy se me olvida cerrar el archivo')
    f.read()
    
f.closed

uy se me olvida cerrar el archivo

True

## Leer un CSV con Pandas

En la práctica de *Data Science*, no usaríamos una API de tan
bajo nivel. Existen muchas bibliotecas de análisis de datos que nos
permiten cargar los datos en un *dataframe*

In [3]:
import pandas as pd

data = pd.read_csv('fichero.csv')
data['type']

0              garden
1             kitchen
2    personal_hygiene
Name: type, dtype: object

`pandas` nos hace extremadamente fácil leer datos en distintos formatos, incluso de fuentes remotas:

In [5]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_accidents_and_disasters_by_death_toll')

In [8]:
tables[3]

,0,1,2,3
0,Deaths,Date,Incident,Location
1,155,11 November 2000,Kaprun disaster[27],"Kaprun, Austria"
2,43,9 March 1976,1976 Cavalese cable car disaster[28],"Cavalese, Italy"
3,20,1 June 1990,Tbilisi cable car disaster[29],"Tbilisi, Georgia"
4,20,3 February 1998,1998 Cavalese cable car disaster[30],"Cavalese, Italy"
5,20,1 July 1999,Saint-Étienne-en-Dévoluy cable car disaster[31],"Saint-Étienne-en-Dévoluy, France"
6,13,12 July 1972,Bettmeralp cable car disaster[32][33],"Bettmeralp, Switzerland"
7,12,29 June 2017,Charra Pani cable car disaster[34],"Charra Pani, Galyat, Pakistan"
8,11,13 February 1983,Champoluc cable car disaster[35],"Champoluc, Italy"
9,9,26 October 1972,Les Deux Alpes cable car disaster[32],"Les Deux Alpes, Isère, France"
10,9,5 September 2005,Sölden cable car disaster[36],"Sölden, Austria"
11,8,13 January 1989,Vaujany cable car disaster[37],"Vaujany, France"
12,7,25 December 1965,Le Mont-Dore cable car disaster[31],"Le Mont-Dore, France"
13,7,29 January 1983,Singapore Cable Car disaster[38],Singapore
14,7,19 January 2003,2003 Pavagadh cable car disaster[39],"Pavagadh, India"
15,7,25 June 2017,Gulmarg cable car disaster[40],"Gulmarg, India"
16,6,29 August 1961,Aiguille du Midi cable car accident[31],"Aiguille du Midi, Mont Blanc, France"
17,6,1 March 1987,Luz-Ardiden cable car accident[31],"Luz-Ardiden, Hautes-Pyrénées, France"
18,5,8 December 1970,Merano cable car accident[35],"Merano, Italy"
19,4,1 August 1971,Alagna Valsesia cable car accident[31],"Alagna Valsesia, Italy"
20,4,9 July 1974,Ulriken cable car accident[31],"Ulriken, Norway"
21,4,26 March 1976,Vail cable car accident[41],"Vail, Colorado, USA"
22,4,15 April 1978,Squaw Valley cable car accident[31],"Olympic Valley, California, USA"
23,4,29 January 1992,Nassfeld cable car accident[31],"Nassfeld, Austria"
24,4,19 October 2003,Darjeeling cable car accident[31][40],"Darjeeling, India"
25,4,24 April 2016,2016 Pavagadh cable car accident[42],"Pavagadh, India"
26,3,26 July 1978,Skyway cable car accident[15],"Eureka, Missouri, USA"
27,3,2 April 2004,Yerevan funicular accident[31],"Yerevan, Armenia"
28,2,15 August 1960,Monte Faito cable car accident[31],"Monte Faito, Italy"
29,2,5 September 1965,Lincoln cable car accident[31],"Lincoln, Nebraska, USA"
30,2,9 July 1966,Aiguille du Midi cable car accident[31],"Aiguille du Midi, Mont Blanc, France"
31,2,14 December 1985,Keystone cable car accident[43],"Keystone, Colorado, USA"
32,2,24 November 1991,Pico Espejo cable car accident[31],"Pico Espejo, Mérida, Venezuela"
33,2,23 December 1995,Whistler Blackcomb cable car accident[44],"Whistler Blackcomb, British Columbia, Canada"
34,2,3 August 2013,Gross Aubrig cable car accident[45],"Gross Aubrig, Switzerland"
35,1,1 September 1943,1943 Angels Flight funicular accident[46],"Angels Flight, Los Angeles, California, USA"
36,1,9 April 1947,Monte Serrate funicular accident[31],"Monte Serrate, São Paulo, Brazil"
37,1,26 July 1956,Mount Rowe cable car accident[31],"Mount Rowe, New Hampshire, USA"
38,1,10 August 1957,Cogne cable car accident[31],"Cogne, Val d'Aosta, Italy"
39,1,15 June 1968,Raton Pass cable car accident[31],"Raton Pass, New Mexico, USA"
40,1,22 October 1979,Texas State Fair cable car accident[47],"Dallas, Texas, USA"
41,1,4 February 1984,Big Powderhorn Mountain cable car accident[31],"Big Powderhorn Mountain, Michigan, USA"
42,1,23 December 1989,Maple Mountain cable car accident[31],"Maple Mountain, Michigan, USA"
43,1,4 April 1993,Sierra-at-Tahoe cable car accident[31],"Sierra-at-Tahoe, Twin Bridges, California, USA"
44,1,28 August 1993,Monte Solaro cable car accident[31],"Monte Solaro, Anacapri, Italy"
45,1,12 October 1996,Quebec funicular accident[48],"Old Quebec Funicular, Quebec, Canada"
46,1,8 December 1996,Snow Valley cable car accident[31],"Snow Valley, Ontario, Canada"
47,1,14 December 1996,Riederalp cable car accident[29],"Riederalp, Switzerland"
48,1,26 December 1999,Crans Montana cable car accident[31],"Crans Montana, Switzerland"
49,1,3 January 2001,Table Mountain cable car accident[49],"Cape Town, South Africa"
50,1,4 January 2001,Powder Ridge cable car accident[31],"Powder Ridge, Kimball, Minnesota, USA"
51,1,1 February 2001,2001 Angels Flight funicular accident[50],"Angels Flight, Los Angeles, California, USA"
52,1,27 July 2004,Abisko National Park cable car accident[31],"Abisko National Park, Sweden"
53,1,24 May 2007,Zillertal cable car accident[31],"Zillertal, Mayrhofen, Austria"
54,1,28 November 2007,2007 Heavenly cable car accident[31],"Heavenly Mountain Resort, near South Lake Taho..."
55,1,3 January 2008,Grindelwald cable car accident[31],"Grindelwald, Switzerland"
56,1,2 March 2008,Chamonix cable car accident[31],"Chamonix, France"
57,1,1 September 2009,2009 Heavenly cable car accident[31],"Heavenly Mountain Resort, near South Lake Taho..."
58,1,2 June 2010,Glenwood Canyon cable car accident[51],"Glenwood Canyon Resort, near Glenwood Springs,..."
59,1,12 April 2014,Jinggangshan cable car accident[52],"Jinggangshan, Jiangxi, China"

También escribir en distintos formatos: csv, excel...

In [164]:
tables[1].to_excel('amusement_park_accidents.xls')

\* Para poder leer y escribir archivos excel necesitaremos instalar los módulos xlrd y xlwt, respectivamente.

Podemos hacer procesados de datos bastante complejos con muy poco código y a mucha velocidad. En este ejemplo, estamos tomando un archivo csv de 479797 filas y 110 columnas que representan vuelos individuales, y calculando el retraso medio que cada avión ha tenido en todos sus vuelos.

In [9]:
%%time
from zipfile import ZipFile

zf = ZipFile('../../master-data-science/data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip')
csv = zf.open('On_Time_On_Time_Performance_2015_1.csv')

data = pd.read_csv(csv)

delays = data.groupby('TailNum')['DepDelay'].agg(['mean', 'count'])
delays

<string>:2: DtypeWarning: Columns (77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 6.02 s, sys: 716 ms, total: 6.73 s
Wall time: 5.72 s

In [10]:
delays.sort_values('mean', ascending=False).head(10)

               mean  count
TailNum
N79011   232.000000      2
N228UA   217.500000      2
N707DN   204.000000      2
N651UA   167.000000      4
N776UA   159.000000      2
N660UA   150.500000      2
N116UA   129.000000      2
N780UA   119.000000      2
N398AA   118.733333     15
N76065   117.416667     12

In [181]:
data

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,7,2015-01-04,AA,19805,AA,N791AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,5,1,2015-01-05,AA,19805,AA,N783AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,6,2,2015-01-06,AA,19805,AA,N799AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,7,3,2015-01-07,AA,19805,AA,N784AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,8,4,2015-01-08,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,9,5,2015-01-09,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,10,6,2015-01-10,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,1,1,11,7,2015-01-11,AA,19805,AA,N786AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,1,1,12,1,2015-01-12,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,1,1,13,2,2015-01-13,AA,19805,AA,N796AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2015,1,1,14,3,2015-01-14,AA,19805,AA,N793AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2015,1,1,15,4,2015-01-15,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,1,1,16,5,2015-01-16,AA,19805,AA,N797AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,1,1,17,6,2015-01-17,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,1,1,18,7,2015-01-18,AA,19805,AA,N786AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,1,1,19,1,2015-01-19,AA,19805,AA,N785AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,1,1,20,2,2015-01-20,AA,19805,AA,N797AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,1,1,21,3,2015-01-21,AA,19805,AA,N789AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,1,1,22,4,2015-01-22,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2015,1,1,23,5,2015-01-23,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,1,1,24,6,2015-01-24,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2015,1,1,25,7,2015-01-25,AA,19805,AA,N791AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,1,1,26,1,2015-01-26,AA,19805,AA,N783AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2015,1,1,27,2,2015-01-27,AA,19805,AA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,1,1,28,3,2015-01-28,AA,19805,AA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2015,1,1,29,4,2015-01-29,AA,19805,AA,N794AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,1,1,30,5,2015-01-30,AA,19805,AA,N792AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469938,2015,1,1,3,6,2015-01-03,NK,20416,NK,N505NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469939,2015,1,1,4,7,2015-01-04,NK,20416,NK,N503NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469940,2015,1,1,5,1,2015-01-05,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469941,2015,1,1,6,2,2015-01-06,NK,20416,NK,N503NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469942,2015,1,1,7,3,2015-01-07,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469943,2015,1,1,8,4,2015-01-08,NK,20416,NK,N503NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469944,2015,1,1,9,5,2015-01-09,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469945,2015,1,1,10,6,2015-01-10,NK,20416,NK,N503NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469946,2015,1,1,11,7,2015-01-11,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469947,2015,1,1,12,1,2015-01-12,NK,20416,NK,N503NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469948,2015,1,1,13,2,2015-01-13,NK,20416,NK,N514NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469949,2015,1,1,14,3,2015-01-14,NK,20416,NK,N528NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469950,2015,1,1,15,4,2015-01-15,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469951,2015,1,1,16,5,2015-01-16,NK,20416,NK,N528NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469952,2015,1,1,17,6,2015-01-17,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469953,2015,1,1,18,7,2015-01-18,NK,20416,NK,N528NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469954,2015,1,1,19,1,2015-01-19,NK,20416,NK,N505NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469955,2015,1,1,20,2,2015-01-20,NK,20416,NK,N521NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469956,2015,1,1,21,3,2015-01-21,NK,20416,NK,N505NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469957,2015,1,1,22,4,2015-01-22,NK,20416,NK,N522NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469958,2015,1,1,23,5,2015-01-23,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469959,2015,1,1,24,6,2015-01-24,NK,20416,NK,N524NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469960,2015,1,1,25,7,2015-01-25,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469961,2015,1,1,26,1,2015-01-26,NK,20416,NK,N524NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469962,2015,1,1,27,2,2015-01-27,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469963,2015,1,1,28,3,2015-01-28,NK,20416,NK,N524NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469964,2015,1,1,29,4,2015-01-29,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469965,2015,1,1,30,5,2015-01-30,NK,20416,NK,N519NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469966,2015,1,1,31,6,2015-01-31,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469967,2015,1,1,1,4,2015-01-01,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
data.groupby('Carrier')['DepDelay'].agg(['mean', 'count']).sort_values('mean', ascending=False)

              mean  count
Carrier
F9       17.984433   6745
MQ       16.081207  27670
UA       14.010359  37454
NK       13.146294   8647
OO       12.155157  46946
AA       10.593542  43173
B6       10.035556  20531
EV        9.752522  48267
WN        9.514470  98307
VX        6.910772   4651
DL        5.904238  63752
US        5.197315  32552
AS        3.178209  13198
HA        1.310065   6418

# Ejemplo de programa con entrada / salida 

Vamos a calcular el área de un círculo

## Pasos para hacer un programa

1.  Definir bien el problema

    -   En nuestro caso, calcular el área de un círculo



2.  Identificar las entradas de datos al programa

    -   El radio del círculo


3.  Identificar las salidas de datos del programa

    -   El valor del área


4.  Decidir el algoritmo que calculará las salidas de datos a partir de
    las entradas

## Algoritmo

Área de un círculo

Si sabemos el radio, podemos calcular el área
$$A= \pi r^2$$

![image](figs/area.png)

#### Ejercicio:

Escribe el programa para calcular el área del círculo, según el patrón que venimos estableciendo:

- Entrada de datos

- Algoritmo

- Salida de datos

In [28]:
# Input
radius = float(input('please input the radius of your circle ')) 

# Algorithm
pi = 3.141592
area = pi * radius ** 2

# Output
print('The area of a circle with radius %.3f is %.3f' % (radius, area))

please input the radius of your circle 2.3
The area of a circle with radius 2.300 is 16.619

In [29]:
# Input
sadkjfasd = float(input('please input the radius of your circle ')) 

# Algorithm
Zorg = 3.141592
blargh = Zorg * sadkjfasd ** 2

# Output
print('The area of a circle with radius %.3f is %.3f' % (Zorg, blargh))

please input the radius of your circle 2.3
The area of a circle with radius 3.142 is 16.619

In [23]:
radius

9.7

Muchas variables están definidas en módulos. Por ejemplo, `pi` está definida en el módulo `math`. Podemos traerla a nuestro entorno con `import`:

In [35]:
import math

# Input
radius = float(input('please input the radius of your circle ')) 

# Algorithm
area = math.pi * radius ** 2

# Output
print('The area of a circle with radius %.3f is %.3f' % (radius, area))

please input the radius of your circle 1.2
The area of a circle with radius 1.200 is 4.524

# Para llevar

### resumen del tema

-   Para mostrar el valor de una variable, o un mensaje sencillo, usamos
    la función `print`

-   Si queremos mostrar mensajes complejos podemos componer mensajes con
    formato

-   Podemos mostrar:

    -   %d: Números enteros

    -   %f: Números decimales

    -   %s: Texto

## Para llevar: resumen del tema

-   Podemos pedir datos al usuario con input

    -   Con input, la entrada **no** se evalúa: siempre será una `str`

-   Podemos abrir ficheros con open tanto para lectura como
    escritura

-   Con readline, lo podemos leer de manera iterativa sin
    cargar el fichero en memoria

-   Siempre tenemos que cerrar el fichero después de leerlo. Lo mejor es
    usar with para no olvidarnos de cerrarlo.

## Para llevar: resumen del tema

-   Nuestros programas deben tener siempre la estructura:

    -   Entrada de datos

    -   Algoritmo

    -   Salida de datos

-   El primer paso para programar es siempre definir bien el problema

    -   Dejar claro qué hay que hacer

    -   Cómo hay que hacerlo será lo que escribamos en el programa

# Para saber más

http://www.cprogramming.com/tutorial/printf-format-strings.html

http://www.practicepython.org/

http://codingbat.com/python

# Ejercicios para fijar

#### Ejercicio

Escribe un programa que acepte el apellido y nombre de un usuario y los muestre por pantalla en orden inverso, con un espacio entre ellos

In [36]:
name = input('cual es su nombre?')
surname = input('cual es su apellido?')

print(surname, name)

cual es su nombre?Daniel
cual es su apellido?Mateos
Mateos Daniel

#### Ejercicio

Escribe un programa Python que acepte una secuencia de 4 números separados por comas y los imprima cada uno en una línea. 

_Pista_: en los [métodos de `str`](https://docs.python.org/3/library/stdtypes.html#string-methods) seguro que encuentras algo que te sea útil.

_Entrada de muestra_: `"1,53,3,12"`

_Salida de muestra_: 
```python
1
53
3
12
```

In [37]:
a_sample_string = '123 78 fg'
a_sample_string.split()

['123', '78', 'fg']

In [39]:
another_sample_string = 'asdf|asdfasdf|ASDF'
fields = another_sample_string.split('|')
fields

['asdf', 'asdfasdf', 'ASDF']

In [40]:
fields[0]

'asdf'

In [41]:
fields[1]

'asdfasdf'

In [5]:
user_input = input('please enter your numbers')

fields = user_input.split(',')

print(fields[0])
print(fields[1])
print(fields[2])
print(fields[3])

please enter your numbers5,6,7,8
5
6
7
8

splitlines no nos vale porque sólo sabe cortar por saltos de línea.

In [49]:
a_sample_string.splitlines()

['123 78 fg']

In [50]:
multiline_string = '''first line
second line
and so on
'''

In [52]:
multiline_string.splitlines()

['first line', 'second line', 'and so on']

#### Ejercicio

Escribe un programa que acepte del usuario una ruta absoluta (en formato Unix) de archivo y muestre por pantalla el nombre de archivo y la extensión, en líneas consecutivas.

_Entrada de muestra_: `/home/user/course/best-class-ever.ipynb`

_Salida de muestra_: 
```
best-class-ever
.ipynb
```

In [16]:
# Input
path = input('path to the file? ')

# Algorithm
path_elements = path.split('/')
full_filename = path_elements[-1] 
filename = full_filename.split('.')[0]
extension = full_filename.split('.')[1]

# Output
print(filename)
print('.' + extension)

path to the file? /home/user/course/best-class-ever.ipynb
best-class-ever
.ipynb

#### Ejercicio

Extiende el programa del ejercicio anterior (es decir, cópialo en una celda nueva y modifícalo) para que ahora muestre el resultado en una frase de lenguaje natural.

_Entrada de muestra_: `/home/user/course/best-class-ever.ipynb`

_Salida de muestra_: 
```
El archivo "best-class-ever" está en el directorio "/home/user/course/" y tiene extensión ".ipynb"

```

In [24]:
# Input
path = input('path to the file? ')

# Algorithm
path_elements = path.split('/')
full_filename = path_elements[-1] 
filename = full_filename.split('.')[0] 
extension = '.' + full_filename.split('.')[1]
folder = '/'.join(path_elements[:-1])  

# Output
message = 'El archivo "%s" está en el directorio %s y tiene extensión "%s"' % (filename, folder, extension)
print(message)

path to the file? /home/user/course/best-class-ever.ipynb
El archivo "best-class-ever" está en el directorio /home/user/course y tiene extensión ".ipynb"

#### Ejercicio

Escribe un programa que acepte dos números por separado, y compruebe si están "cerca" para un nivel de precisión arbitrario, indicado por un tercer número.

_Entrada de muestra_:
```python
0.0003
0.000302
0.000005
```

_Salida de muestra_: 
```python
True
```

#### Ejercicio

Escribe un programa para convertir una presión en kilopascales en psi, mmHg y atm. Muestra el resultado con un formato adecuado.


_Entrada de muestra_:
```python
1000
```

_Salida de muestra_: 
```python
1000 kPa equivalen a 145.04 psi, 7500.6 o 9.869 atm
```

#### Ejercicio

Escribe un programa que reciba un número de segundos y lo convierta en años, meses, días, horas, minutos y segundos (considera que todos los meses tienen 30 días),

_Entrada de muestra_:
```python
50000000
```

_Salida de muestra_: 
```python
50000000 segundos son 1 año(s), 7 mes(es), 3 día(s), 16 hora(s), 53 minuto(s) y 20 segundo(s).
```